<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Available Quizzes</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <header>
    <h1>Quiz Questions</h1>
  </header>

<div class="container">
  <% let serialNumber = 1; %>
  <% for (const question of questions) { %>
    <h2 class="question"><%= serialNumber %>. <%= question.question %></h2>
    <ul class="options">
      <% for (const optionGroup of options) { %>
        <% for (const option of optionGroup) { %>
          <% if (option.question_id === question.id) { %>
            <li>
              <input type="radio" name="<%= 'question_' + question.id %>" id="<%= 'option_' + option.id %>" value="<%= option.id %>" />
                <label for="<%= 'option_' + option.id %>"><%= option.description %></label>
            </li>
          <% } %>
        <% } %>
      <% } %>
    </ul>
    <% serialNumber++; %>
  <% } %>
</div>
</body>
</html>
