<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Available Quizzes</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <header>
    <h1>Available Quizzes</h1>
  </header>

  <div class="container">
    <ul class="quiz-list">
      <% for (let i = 0; i < quizzes.length; i++) { %>
        <li>
          <span class="quiz-number"><%= i + 1 %>.</span>
          <a href="/quizzes/<%=quizzes[i].id%>"><%=quizzes[i].title%>: <%=quizzes[i].description%></a>
        </li>
      <% } %>
    </ul>
  </div>
</body>
</html>
